{pre_hooks, [
   {compile, "escript compile_jute"}
]}.

{clean_files, [
    "src/org_apache_zookeeper_data.erl",
    "src/org_apache_zookeeper_data.hrl",
    "src/org_apache_zookeeper_proto.erl",
    "src/org_apache_zookeeper_proto.hrl",
    "src/org_apache_zookeeper_server_persistence.erl",
    "src/org_apache_zookeeper_server_persistence.hrl",
    "src/org_apache_zookeeper_server_quorum.erl",
    "src/org_apache_zookeeper_server_quorum.hrl",
    "src/org_apache_zookeeper_txn.erl",
    "src/org_apache_zookeeper_txn.hrl"
]}.

{sub_dirs, ["rel"]}.

{erl_opts, [debug_info, fail_on_warning, {i, "src"}, {d, log_trace}, {d, log_debug}, {d, log_info}, {d, log_warn}, {d, log_msgs}]}.
%%{erl_opts, [debug_info, fail_on_warning, {d, no_leader}, {i, "src"}, {d, log_trace}, {d, log_debug}, {d, log_info}, {d, log_warn}, {d, log_msgs}]}.
%%{erl_opts, [debug_info, fail_on_warning, {d, log_info}, {d, log_warn}, {d, no_leader}]}.

{require_otp_vsn, "R1."}.
